*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#121212;
    color:white;
    padding:30px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

.filter-buttons{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-bottom:30px;
}

.filter-buttons button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:white;
    color:black;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.filter-buttons button:hover{
    transform:translateY(-2px);
}

.products{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:#1e1e1e;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

.card h2{
    margin-bottom:10px;
}
.filter-btn.active{
    background:#ccc;
}

.card p{
    color:#ccc;
}